@import url(https://fonts.googleapis.com/css?family=Open+Sans);


html {
  height: 100%;
}

body {
  height: 100%;
  background: #f5f7fa;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

a, a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #34495e;
  padding: 9px 0;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  padding: 20px;
}

a:hover {
  background: darken(#34495e, 10%);
}


.search input {
  width: 394px;
  height: 40px;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.search input::placeholder {
  font-style: italic;
}

.sellables-container {
  display: flex;
  flex: 1;
}
  
.sellables {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: .5em;
}

.category {
  padding: 17.5px;
  margin: 2px;
  border: 1px solid darken(#e6e9ed, 10%);
  border-radius: 5px;
  background: #e6e9ed;
  color: #424A54;
}

.category:hover {
  background: darken(#e6e9ed, 10%);
}
        
.active {
  background: darken(#e6e9ed, 15%);
  color: #424A54;
}
        
.active:hover {
  background: darken(#e6e9ed, 20%);
}
.item-group-wrapper {
  overflow-y: scroll;
  margin-left: 25px;
}
.item-group {
  display: flex;
  flex-wrap: wrap;
  max-height: 340px;
}

.item {
  padding: 30px;
  margin: .5em .5em;
  border-radius: 5px;
  background: #C4C4C4;
  color: black;
  width: 60px;
  height: 60px;
}
          
.item:hover {
  background: white;
}

.item-SaveFile {
  padding: 30px;
  margin: .5em .5em;
  border-radius: 5px;
  background: green;
  color: #fff;
}
          
.item-SaveFile:hover {
  background: limegreen;
}

.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer input {
  height: 40px;
  width: 394px;
  margin-top: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px; 
  font-weight: 700;    
}
.customer input::placeholder {
  font-style: italic;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 400px;
  margin: 1em 2em;      
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #fff;
}
        
.products {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 400px;
}

.product-bar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
  font-weight: 700;
}

.product-bar:first-child {
  margin-top: 1em;
}

.product-bar:hover {
  background: darken(#fff, 10%);
}

.recommendation-bar {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  padding-left: 10px;
  background: indianred;
  font-weight: 700;
  color: white;
}

.recommendation-bar:first-child {
  margin-top: 1em;
}

.recommendation-bar:hover {
  background: darken(#fff, 10%);
}

.selected {
  background: #68b3c8;
  color: #fff;
}

.selected:hover {
  background: darken(#68b3c8, 10%);
}


.pay-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

  a {
    padding: 10px 125px;
    margin: 1em 0;
    border-radius: 5px;
    background: #42a07f;          
    color: #fff;
  }

  a:hover {
    background: darken(#42a07f, 5%);
  }

  #bg {
    background-image: url('img/background2.jpg');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
}

#bg_home{
  background-image: url('img/background2.png');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
body {
    font-family: 'Lato', sans-serif;
    color: #4A4A4A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  form {
    width: 350px;
    position: relative;
    justify-content: center;
  }
  form .form-field::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 17px;
    color: #888888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }
  form .form-field:nth-child(1)::before {
    background-image: url(img/user-icon.png);
    width: 20px;
    height: 20px;
    top: 15px;
  }
  form .form-field:nth-child(2)::before {
    background-image: url(img/lock-icon.png);
    width: 16px;
    height: 16px;
  }
  form .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
  }
  form .user-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
  }
  form .form-logoutfield {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
  }
  form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;
  }
  form .btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    font-weight: 700;
  }
  form .btn:hover {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    background-color: lightgreen;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    font-weight: 700;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  table th {
    font-weight: bold;
  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    color: blue;
  }
  #Welcome {
    overflow: hidden;
    text-align: left;
    position: relative;
    margin: 0px 100px;
    height: 60px;
    background-color: grey;
    color: black;
    font-family: Arial;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  .header-text h1 {
    margin: 0;
  }
  
  .header-button button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .content {
    text-align: right;
    background-color: #f2f2f2;
  }

  .logoutbtn{
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #47AB11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    margin: 10px;
  }

  .animate-me {
    -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */ 
    animation: 4s infinite bgcolorchange;
  }
  @keyframes bgcolorchange {
    0% {
      background-color: red;
    }
    25% {
      background-color: green;
    }
    50% {
      background-color: yellow;
    }
    75% {
      background-color: yellow;
    }
    100% {
      background-color: red;
    }
  }
  /* Chrome, Safari, Opera */
   @-webkit-keyframes bgcolorchange {
        0%   {background: red;}
        25%  {background: yellow;}
        75%  {background: green;}
        100% {background: blue;}
   }

   .delete-button {
    cursor: pointer;
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 4px 6px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 1;
  }

  .delete-button:hover{
    cursor: pointer;
    color: #fff;
    background-color: sandybrown;
    border: none;
    padding: 4px 6px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 1;
  }

  .recommendationBox,
  .DiscountsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    width: 400px;
    margin: 1em 2em;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #fff;
}